<!DOCTYPE html>
<html>
<head>
  <title>Advertiser - New Account</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "pgf-core.js", "pgf-renderer.js", "adv-dlgbox.js", "account.js", :cache => true %>
  <%= csrf_meta_tag %>
</head>
<body onload="init_dialogs(); <%= params[:action] %>_onload();">

<%= yield %>

</body>
</html>
